.navbar {
	padding-left: 10%;
	padding-top: 1em;
}

#homepage {
	background-image: url(../img/pizza1.jpg);
	overflow: scroll;
}
#menu {
	background-image: url(../img/pizza-order.jpg);	
}
#aboutus {
	background-image: url(../img/pizza-oven.jpg);
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.logo {
	float:left;
	width: 30%;
	height: 20%;
	padding-top: 70px;
}


.flame {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	background-color: purple;
}

h1 {
	text-align: center;
	font-family: 'libre Baskerville', serif;
	font-style: italic;
	font-weight: bold;
}

section {
	float: right;
    width: 80%;
    background-image: url(../img/brickwall.png);
    border-style: solid;
    border-width: 10px;
    border-color: #EEC900;
    box-shadow: 6px 6px 6px #000;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: 2%;
    margin-bottom: 5%;
}

section li {
        padding: 10px;
        text-indent: 5%;
        font-family: 'Libre Baskerville', serif;
        color: purple;
        font-size: 150%
}
section li a {
        text-decoration: none;
        color: red;
}
section li a:hover {
        color: purple;
        background-color: gold;
        padding: 5px;
}
section h2 {
    padding: 10px;
    font-size: 300%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: purple;
}
section h3 {
	padding-left: 2%;
}
section h4 {
	text-align: center;
	font-style: italic;
	font-size: 200%;
	color: purple
}
section p {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	color: brown;
	font-weight: bold;
	font-size: 150%
}
iframe {
	margin-left: 25%;
}
@media screen and (max-width: 768px){
	.flame {
		display: none;
	}
	.tube {
		width: 210px;
		height: 157.5px;
	}
	.logo {
		display: none;
	}
	section {
		margin-top: 75px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
